@primary-color: #E72019;
:root {
    --el-color-primary: @primary-color;
}
body{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.red-text{
    color: @primary-color;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pd-y-16{
    padding: 16px 0;
}
.ellipsis-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pagination-block{
    display: flex;
    justify-content: center;
    .el-pager li.is-active{
        color: #fff;
        background: @primary-color;
        border-radius: 4px;
    }
}
.infinite-list {
    background-color: #fff;
    padding: 0 0.3rem;
    margin: 0;
    list-style: none;
    .infinite-list-item {
      padding: 0.3rem;
      margin-bottom: 0.5rem;
      box-shadow: 0px 0.05rem 0.2rem 0px #F2F3F4;
    }
}